
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:  sans-serif;
}

a {
  text-decoration:none;
  transition:.5s ease;

}
.heading {
  background-color: #a1fdc8;
  text-align: center;
  padding: 20px 0;
  margin: 0;
  font-size: 20px;
}
.form {
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius:10px;
  box-shadow:0 4px 10px 4px #ccc;
}

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
}
  li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:#e7efec;
    color:#000;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
  }
  li a:hover{

  }
  .active a {
    background: #30cf94;
    color:#fff;
  }

  .tab-content {
    padding: 70px 0 0;
}
.tab-content > #login {
  display:none;
}


h1 {
  text-align: center;
  margin: 0 0 40px;
  padding-top: 30px;
  font-size: 15px;
}

label {
  color: #000;
    font-size: 15px;
    left: 15px;
    top: -9px;
    background-color: #fff;
    position: absolute;
    padding: 0 10px;
}

label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
}

label.highlight {
	color:#fff;
}

input, textarea {
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 19px;

}

textarea {
  border:2px solid #ccc;
  
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}


.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 24px;
  color: #fff;
  background: #04AA6D;

}

.button-block {
  display:block;
  width:100%;
}

.forgot {
  margin-top:-20px;
  text-align:right;
}

@media (min-width: 576px) {  
 
}
 
@media (min-width: 768px) {  
 
}
 

@media (min-width: 992px) { 
 
}

@media (min-width: 1200px) {  
    
}

@media (min-width: 1400px) {  
    
}